.product__information {
    display: flex;
    padding: 2rem;
    flex-direction: column;
    align-items: center;
}

.product__information .product-img {
    max-height: 500px;
    width: 100%;
    object-fit: contain;
}