.counter__wrapper {
    display: flex;
    flex-direction: column;
    align-items: normal;
    
    button {
        font-size: 1.2rem;
        border-radius: 0.3rem;
    }
}

.counter__actions {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    margin: 1rem
}

.button__subtract {
    background-color: rosybrown;
    color: black;
}

.button__add {
    background-color: lightgreen;
    color: black;
}

.total__count {
    font-size: 1rem;
    font-weight: bold;
}
