.nav__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    background-color: white;
    border-bottom: 1px solid black;
}

.nav__links {
    display: flex;
    column-gap: 2rem;
}

.navbar--icon {
    height: 2.5rem;
    object-fit: contain;
}

.shopping-cart-icon {
    height: 1.8rem;
    object-fit: contain;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-decoration: inherit;
}

.nav-link:hover {
    text-decoration: underline;
    transition: color 0.4s ease;
    background-color: rgba(24, 231, 179, 0.303);
    transform: translateY(-30%) rotate(-2deg);
}

@media all and (max-width: 750px) {
    .nav__wrapper {
        flex-direction: column;
        row-gap: 1rem;
    }
}